    @font-face {
        font-family: Roboto;
        src: url('../../fonts/roboto.ttf');
    }

    body {

        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        background-image: url('../../img/background.png');
    }

    nav {

        background: #7e4ed3;
        border-radius: 0 0 1rem 1rem;
    }

    nav ul li {

        display: inline-block;
        margin: 0 1rem;
    }

    nav ul li a {

        color: #fff;
        padding: 1.5rem 1rem;
        display: block;
        position: relative;
    }

    nav ul li a:after {
        content: '';
        width: 0%;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        transition: width 0.3s;
    }

    nav ul li a:hover:after,
    nav ul li a.active:after {

        width: 100%;
    }

    section.intro {
        margin: 4rem 0;
    }

    section.intro .devices {
        width: 100%;
    }

    h1 {
        margin: 0.7rem 0;

    }

    h2 {
        margin: 0.7rem 0;
    }

    p {
        margin-bottom: 1rem;
    }

    section.about {
        background: #7e4ed3;
        color: #fff;
        padding: 3rem 0 5rem 0;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        margin-top: 8rem;
    }

    section.about:before {

        content: '';
        width: 700px;
        height: 200px;
        background:  rgb(187, 167, 223);
        position: absolute;
        right: -3rem;
        top: -3rem;
        z-index: -1;
        transform: rotate(-6deg)

    }

    section.about:after {

        content: '';
        width: 120%;
        height: 200px;
        background: #7e4ed3;
        position: absolute;
        left: -3rem;
        top: -2.4rem;
        transform: rotate(3deg);
        z-index: -1;

    }

    a {

        color: #33D1C5;
    }

    main {

        overflow-x: hidden;
    }

    section.skills {
        margin: 5rem 0;
    }

    section.skills ul li {
        background: rgb(187, 167, 223);
        border-radius: 100rem;
        margin: 0.5rem 0;

    }

    section.skills ul li span {
        color: #fff;
        background: #7e4ed3;
        border-radius: 100rem;
        padding: 0.3rem 1rem;
        display: block;
        font-size: 0.9rem;
        transition: width 0.10s;
    }

    section.skills ul li span:hover {
        width: 100% !important;
    }
  
    footer {
        background: #7e4ed3;
        padding: 2rem 0;
        color: #fff;
        text-align: center;
        border-radius: 1rem 1rem 0 0;
    }

    footer p {
        margin: 0;
    }

    footer.absolute {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    section.contact {
        margin: 3rem 0;
        padding: 1rem;
    }

    input,
    textarea {
        display: block;
        border-radius: 0.5rem;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border: 1px solid #c3c3c3;
        width: -webkit-fill-available;
    }
 
    textarea {
        resize: none;
    }

    ul.social {
        margin-left: 5rem;
    }

    ul.social li a {
        color: #000;
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    ul.social li a:hover {
        color: #7e4ed3;
    }

    ul.social li a i {
        color: #7e4ed3;
        margin-right: 1rem;
        font-size: 2rem;
    }