.container {

    width: 80%;
    margin: auto;
}

.row {

    display: flex;
    align-items: center;

}

.col {

    width: 50%;
    padding: 1rem;
}

.text-primary {
    color: #7e4ed3;
}

.btn {
    color: #fff;
    padding: 0.6rem 2rem;
    border-radius: 0.6rem;
    display: block;
    background: #7e4ed3;
    width: max-content;
}

.light-detail,
.dark-detail {

    position: relative; 
    margin-bottom: 2rem;
}

.light-detail:after {

    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 27px;
    height: 2px;
    background: #fff;
    border-radius: 100rem;
}

.dark-detail:after {

    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 27px;
    height: 2px;
    background: #000;
    border-radius: 100rem; 
}

.classeSpan {
    margin-left: 0.2rem;
    margin-bottom: 1rem;
}